@{
    ViewBag.Title = "Success";
}
<center>
    <h2>Order Successful</h2>
</center>

<div>
    <center>
        <img src="~/Images/Checkout.gif" />

    </center>
    <center>
        <h3>Ordered Placed Date: @DateTime.Now</h3>
        <h4>Your Order is placed Successfully.It will be delivered within 3-4 working days<br />ThankYou...Visit Again</h4>
    </center>
</div>
